@import '../../Global/calculateRem';
.WeatherInfo {
	color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 1rem;

	&:first-child {
		margin-left: 0;
	}
	&:last-child {
		margin-right: 0;
	}
	time {
		font-weight: 400;
		font-size: calculateRem(24);
		text-transform: capitalize;
	}
	img {
		width: 66px;
		height: 66px;
		object-fit: contain;
	}
	p {
		font-weight: 400;
		font-size: calculateRem(36);
	}
	.DayTemp {
		font-size: 1.5rem;
		text-align: center;
		span {
			display: block;
			color: rgba($color: #fff, $alpha: 0.5);
		}
	}
}
