@import '../../Global/grid';

.AppHeader {
	color: #fff;
	h1 {
		text-transform: uppercase;
		font-size: 1.2rem;
		@media screen and (min-width: map-get($map: $grid-breakpoints, $key: md)) {
			font-size: 2.25rem;
		}
	}
	button {
		background: transparent;
		padding: 0.2rem 1rem;
		font-size: 1rem;
		cursor: pointer;
		color: #fff;
		font-weight: 600;
		border: none;
		outline: 0;
		@media screen and (min-width: map-get($map: $grid-breakpoints, $key: md)) {
			padding: 0.4rem 2rem;
			font-size: 1.5rem;
		}

		&:first-child {
			border-right: 1px solid #fff;
		}

		&.active {
			background-color: rgba(255, 255, 255, 0.25);
		}
	}
}
