@import '../node_modules/bootstrap/scss/bootstrap-grid.scss';

body {
	background-image: url(./images/Background.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 100vh;
}
